*.cm*
*.o
*.bak
*~
*.a
*.so
*.output
boot/Saved

\#*
.#*
boot/camlheader
boot/ocamlrun
boot/ocamlyacc
bytecomp/opcodes.ml
bytecomp/runtimedef.ml
byterun/jumptbl.h
byterun/ld.conf
byterun/ocamlrun
byterun/primitives
byterun/prims.c
byterun/version.h
config/Makefile
config/m.h
config/s.h
expunge
lex/lexer.ml
lex/ocamllex
lex/parser.ml
lex/parser.mli
myocamlbuild_config.ml
ocaml
ocamlc
ocamlcomp.sh
parsing/lexer.ml
parsing/parser.ml
parsing/parser.mli
stdlib/caml
stdlib/camlheader
stdlib/camlheader_ur
stdlib/camlheaderd
stdlib/sys.ml
tools/dumpobj
tools/myocamlbuild_config.ml
tools/objinfo
tools/objinfo_helper
tools/ocamlcp
tools/ocamldep
tools/ocamlmklib
tools/ocamlmklib.ml
tools/ocamlmktop
tools/ocamloptp
tools/ocamlprof
tools/opnames.ml
tools/read_cmt
utils/config.ml
yacc/ocamlyacc
yacc/version.h
